{% extends "layout.html" %}

{% block page_title %} 404 - Not Found {% endblock %}

{% block body_header %}
<h1>404 NOT FOUND</h1>
{% endblock %}

{% block body_core %}
<h2>The operation you have requested is not found.</h2>

{% endblock %}

{% block body_footer %} {% endblock %}
