{% extends "layout.html" %}

{% block page_title %} 404 - Not Found {% endblock %}

{% block body_header %}
404 Not Found
{% endblock %}

{% block body_core %}
<h1>404 Not Found</h1>
<h2>The operation you have requested is not found.</h2>

{% endblock %}

{% block body_footer %} {% endblock %}
