{% extends "layout.html" %}

{% block page_title %} 405 - Not Allowed {% endblock %}

{% block body_header %}
<h1>405 Method Not Allowed</h1>
{% endblock %}

{% block body_core %}
<h2>The operation you have requested is not allowed.</h2>
<h4>The methods allowed are :
  {% for method in methods %}
  {{ method }},
  {% endfor %}
</h4>

{% endblock %}

{% block body_footer %} {% endblock %}
