{% extends "layout.html" %}

{% block page_title %} 405 - Not Allowed {% endblock %}

{% block body_header %}
<h1>405 Method Not Allowed</h1>
{% endblock %}

{% block body_core %}
<h1>405 Method Not Allowed</h1>
<h2>The operation you have requested is not allowed.</h2>

{% endblock %}

{% block body_footer %} {% endblock %}
