{% extends "layout.html" %}

{% block page_title %} ADD GOAT {% endblock %}

{% block body_header %}
{% endblock %}

{% block body_core %}
<h1>ADD GOAT</h1>

<form method="post" enctype="multipart/form-data" id="goatform" name="goatform" onsubmit="return verifForm(this)">

  <p>
    <label>Name</label>
    <input type="text" name="name" required><br>
  </p>

  <p>
    <label>Price - convert ',' to '.'</label>
    <input type="number" name="price"
    step="0.01" min=0 required>€<br>
  </p>

  <p>
    <label>Birthdate</label>
    <input type="date" name="birthdate" id='birthId' placeholder="yyyy-mm-dd" onblur="verifBirthdate(this)"><br>
  </p>

  <p>
    <label>Race - query list of all races</label>
    <input type=text list=races
    name="race_name" placeholder="Select Race" required>
    <datalist id=races name="race_datalist">
      {% for race in races %}
      <option value="{{ race.name }}">
        {% endfor %}
      </datalist>
    </p>

    <p>
      <label>Gender - Female/Male</label><br>
      <input type="radio" name="gender" value="female" required> Female<br>
      <input type="radio" name="gender" value="male"> Male<br>

    </p>

    <p>
      <label>Localisation - see for google map API</label>
      <input type="text" name="localisation"><br>
    </p>

              <p>
                <label>Identification - get the format "COUNTRY_LETTERS 000 000 00000"</label>
                <input type="text" name="identification" onblur="verifIdentification(this)"><br>
              </p>

              <p>
                <label>Description</label><br>
                <textarea name="description" form="goatform"
                rows="4" cols="50" placeholder="Enter text here..."></textarea>

              </p>

              <p>
                <input type="submit"/>
              </p>
            </form>


            <script>
            function verifIdentification(champ)
            {
              var regex=/[A-Z]{2}\s[0-9]{3}\s[0-9]{3}\s[0-9]{5}/;
              if (regex.test(champ.value)){
                return true;
              }
              else {
                return false;
              }
            }
            function verifBirthdate()
            {
              var birth=new Date(document.getElementById('birthId').value);
              var today=new Date();
              if (today.getYear()<birth.getYear()){
                return false;
              }
              if (today.getMonth()<birth.getMonth()){
                return false;
              }
              if (today.getDate()<birth.getDate()){
                return false;
              }
              else {
                return true;
              }
            }
            function verifForm(f)
            {
               var IdentificationOk = verifIdentification(f.identification);
               var BirthdateOk = verifBirthdate();
               if(IdentificationOk&&BirthdateOk)
                  return true;
               else
               {
                  alert("Please fill the fields correctly.");
                  return false;
               }
            }
          </script>
          {% endblock %}

        {% block body_footer %} {% endblock %}
