<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" src="bootstrap/css/bootstrap.css">
        <script src="js/bootstrap.bundle.js"></script>

        <title>BuyAGoat
          {% block page_title %} {% endblock %}
        </title>
    </head>
    <body>
        <div id="header"><h1>BuyAGoat</h1>
          {% block body_header %} {% endblock %}
        </div>
        <div id="menu">
          <a href="http://localhost:8080/goats" ><button type="button">Market place</button></a>
          <a href="http://localhost:8080/races" ><button type="button">About the races</button></a>
          <a href="http://localhost:8080/goats/add" ><button type="button">Sell a goat</button></a>
        </div>
        <!--<div id="filter">
          <select name="race_name">
            for (race in races){
             <option value="race.name">race.name</option>
            }
          </select>
        </div>-->
        <div id="core">{% block body_core %} {% endblock %}</div>
        <div id="footer">{% block body_footer %} {% endblock %}</div>

        {% block body_script %} {% endblock %}
    </body>
</html>
