{% extends "layout.html" %}

{% block page_title %} My Webpage {% endblock %}

{% block body_header %}
{% endblock %}

{% block body_core %}
<h1>404 NOT FOUND</h1>


    <p>Try <a href="http://www.slimframework.com">SlimFramework</a></p>
{% endblock %}

{% block body_footer %} {% endblock %}
