{% extends "layout.html" %}

{% block page_title %} Success {% endblock %}

{% block body_header %}
  Success
{% endblock %}

{% block body_core %}
<h2>The operation is a success.</h2>

<h3 id="timer"></h3>

<script>
  // Set the date we're counting down to
  var countDownDate = new Date();
  countDownDate.setSeconds(countDownDate.getSeconds() + 5);

  // Update the count down every 1 second
  var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now an the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var seconds = Math.floor((distance % (1000 * 60)) / 1000)+1;

    // Display the result in the element with id="timer"
    document.getElementById("timer").innerHTML = "You will be redirected in "+ seconds + " seconds.";

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      // similar behavior as an HTTP redirect
      window.location.replace("/goats");
    }
  }, 1000);
</script>
{% endblock %}
{% block body_footer %}
{% endblock %}
